* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: slategray;
}

nav {
  width: 100%;
  background-color: rgb(78, 42, 42);
  /* height: 80px; */
  /* text-align: right; */
  padding: 20px;
}

nav li {
  display: inline-block;
  /* margin: 20px; */
}

nav li a {
  font-size: x-large;
  color: white;
  text-decoration: none;
  padding: 20px;
}
a:hover {
  cursor: pointer;
}